.idea/
__pycache__/
allure-results
test_data
tests/test_group_100_000.py
tests/test_group_pythonista.py
venv/Lib/site-packages/charset_normalizer/md.cp311-win_amd64.pyd
venv/Lib/site-packages/charset_normalizer/md__mypyc.cp311-win_amd64.pyd


.github/workflows/openweather.yml
tests/test_group_bugs_in_each_step.py
tests/test_group_ducktales.py
tests/test_group_future_auto_qa.py
tests/test_group_no_pain_no_gain.py
tests/test_group_pytest.py
tests/test_group_python_qa.py
tests/test_group_roma.py
tests/test_group_snake_oil.py
tests/test_group_trust_me_i_am_engineer.py
tests/test_pandoras_box.py
tests/test_teachers.py
tests/test_thehardworking_club.py
PageObject/__init__.py
pages/base_page.py
tests/tests_group_trust_me_i_am_engineer/pages/__init__.py
tests/tests_group_trust_me_i_am_engineer/tests/main_page_test.py
tests/test_JenyaPageObject/pages/cookies_settings_page.py
tests/test_JenyaPageObject/tests/test_check_cookies_settings_link.py

tests/tests_group_trust_me_i_am_engineer/pages/main_page.py

ERROR tests/tests_group_trust_me_i_am_engineer/tests/main_page_test.py